html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background-image: url("sax.jpg");
 display: flex;
flex-direction:column;
}


.header  {
    font-family: monospace;
    background: rgba(0,0,0,0,6);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  .logocontainer{

    display:flex;
  }

  
  .logo {
    font-size: 70px;
    font-weight: 900;
    color: orange;
    background: rgba(0,0,0,0,6);
    padding: 4px 32px;
    background-color:white;
    width:200px;
    display:flex;
 text-align:center;
margin-left:1000px;
    margin-top:130px;
    border-radius: 17%;
    
  }


  
  ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
    
  }
  
  a {
    font-size: 22px;
    background: rgba(0,0,0,0,6);
    color:white;
    padding: 8px;
    /* this removes the line under the links */
    text-decoration: none;
  }

 

  /** discord @mireles gave me the idea to put both of the modals inside a container to make them sit side by side with each other. */
 img {
    height: auto;
background-size: cover;
  }

  .fwh-slide {
    height:100vh;
    box-sizing: border-box;
  }

 #mc_embed_signup{background:orange;  font:14px Helvetica,Arial,sans-serif;  width:600px;
  display:flex;
  justify-content: center;
 margin-left:auto;
  margin-right:auto;
  margin-top: 190px;
  background:rgba(_red_, _green_, _blue_, _transparency_);
  border: 15px solid white;
  border-radius: 20%;
  }


  
  


  /* I learned how to make multiple pages into one long page with this youtube video : https://www.youtube.com/watch?v=vFzUVINwnFo&ab_channel=dcode */ 


  
  
  
  
 